#login-page .container {
    height:                 80%;
}

#login-page .input-field input:focus:not([readonly]) {
    border-bottom: 1px solid #0277bd;
    box-shadow:    0 1px 0 0 #0277bd;
}

.fixed-nav {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 350px;
    height: calc(100% - 64px);
    overflow: auto;
    z-index: 65;
}

.fixed-nav-hidden {
    display: none;
}

.fixed-hover {
    position: absolute;
    z-index: 60;
    width:100%;
    height: 100%;
    margin: 0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.3);
}


.overflow-hidden {
    overflow: hidden;
}

.lvl-1 {
    padding-left: 40px !important;
}

.lvl-1 > .material-icons {
    margin-right: 16px;
}

#fixed-menu a {
    color: rgba(0, 0, 0, 0.87);
}


.menu-root {
    margin:     0;
}

.sub-menu-item {
    padding:     0;
}


.progress {
    margin: 0;
    background-color: #FCB821;
    height: 8px;
}

.progress .indeterminate {
    background-color: #BF1773;
}
